<h1>
    URL Shortener!
</h1>
<% if (!user_id) { %>
  <form action="/register" method="GET">
    <input type="submit" value="Register">
  </form>
  <form action="/login" method="GET">
    <input type="submit" value="Login">
  </form>
<% } else { %>
  <p>Email: <%= user['email'] %></p>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<% } %>
