<!DOCTYPE>
<html lang="en">
  <form action="/login" method="POST">
    <label for="Email">Enter email:</label>
    <input id="Email" name="email">
    <label for="Password">Enter password:</label>
    <input id="Password" name="password">
    <input type="submit" value="Login">
  </form>
</html>
