<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <% if (!user_id) { %>
      Please login or register first!
    <% } else if (urls[shortURL]['userID'] != user_id) { %>
      You don't own this URL! 
    <% } else { %> 
    <form method="GET" action="/urls %>">
      <button type="submit">See my URLs</button></form>
    </form>
    <p><%=urls[shortURL]['longURL']%> ---> <%= shortURL %>
      <form method="POST" action="/urls/<%= shortURL %>">
        <label for="longURL">URL:</label>
              <input id="longURL" name="longURL">
        <button type="submit">Update</button></form>
    </p>
    <% }; %>
  </body>
</html>
